[submodule "projects/glm"]
	path = projects/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "projects/glfw"]
	path = projects/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "projects/nanovg"]
	path = projects/nanovg
	url = https://github.com/memononen/nanovg
	branch = master
[submodule "projects/spdlog"]
	path = projects/spdlog
	url = https://github.com/gabime/spdlog
	branch = master
[submodule "projects/portaudio"]
	path = projects/portaudio
	url = https://github.com/PortAudio/portaudio
[submodule "projects/incbin"]
	path = projects/incbin
	url = https://github.com/graphitemaster/incbin/
